<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Panels</key>
	<dict>
		<key>USER.32309EBA-E950-4E29-B94D-4B989301411E</key>
		<dict>
			<key>DisplayOrder</key>
			<integer>1</integer>
			<key>GlidingLensSize</key>
			<integer>5</integer>
			<key>HasTransientPosition</key>
			<false/>
			<key>HideHome</key>
			<false/>
			<key>HideMinimize</key>
			<false/>
			<key>HidePanelAdjustments</key>
			<false/>
			<key>HideSwitchDock</key>
			<false/>
			<key>HideSwitchDockContextualButtons</key>
			<false/>
			<key>HideTitlebar</key>
			<false/>
			<key>ID</key>
			<string>USER.32309EBA-E950-4E29-B94D-4B989301411E</string>
			<key>Name</key>
			<string>Arabic Alphabet الحروف العربيةv2</string>
			<key>PanelObjects</key>
			<array>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ُ</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.3C7B291F-04C9-4544-82AB-78E9412084A4</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string> ُضمة</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.1F83614D-3AEF-4105-B949-F1F940693DF7</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{75, 25}, {75, 50}}</string>
					<key>SpokenDescription</key>
					<string>ُ ضمة</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>َ</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.9F24CACD-FD45-499F-A86F-AE01B7AB9142</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>   َ  فتحة  </string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.AF19BABA-F00C-450D-A785-5E78C559DDD3</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{840, 0}, {75, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ِ</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.459DD10C-6F86-429D-9A17-EEC0AB2FB938</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ِ  كسرة  </string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.75021C2B-8A49-4698-B829-9DF85FD62F73</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{45, 75}, {75, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ْ</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.E31914A1-C7A9-455E-B1B3-D465229F1B00</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ْ سكون</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.837B4829-408D-4CD1-83D5-E9A0BF7B84FD</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{150, 25}, {75, 80}}</string>
					<key>SpokenDescription</key>
					<string>ُ ضمة</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ّ</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.C1BE7934-AD15-4E61-A295-A6BFAC78ACC2</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ّ شدة</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.A5B5EAE6-6A90-4461-B29C-70ECA3329172</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{575, 5}, {70, 90}}</string>
					<key>SpokenDescription</key>
					<string>ُ ضمة</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ث</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.54E14B16-16C9-4234-A672-3A914E18CE88</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ث</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.D78AD921-37C9-497F-BF00-884CA096C0EA</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{800, 55}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>آ</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.C134DD1E-E68C-41B6-A956-48A536F1AE1A</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>آ</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.62C6443D-A2CE-4339-AA41-7FD98AFD2355</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{850, 55}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ة</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.E95AAC5B-DE86-47DD-BE7B-14AEE8F4786D</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ة</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.D515EED0-1AEF-4023-86D9-E2B74DA30E68</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{150, 105}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ق</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.AA928970-FC49-497C-9666-E92752DA4149</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ق</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.2B7C10A7-C6D0-4DB7-821E-014C1D58DB3B</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{400, 105}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ت</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.ED7DB427-501B-49C1-B0E5-917A936F9A65</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ت</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.0F5909A6-21DE-429C-9337-859F07A0B478</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{800, 105}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>أ</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.FE2AD0C4-5A9E-4764-96AA-61D58FD5320D</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.600 0.400 0.200 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>أ </string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.AE07298E-66FC-4C5F-9557-AF5C60BC7B5D</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{850, 105}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ء</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.0965406A-D289-4F9C-8F5A-83670102BAF4</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.600 0.400 0.200 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ء</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.146C31A4-16E1-4F3A-A9C1-AC240FAEB213</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{0, 185}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ئ</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.65B18B18-0390-441D-BEA1-F2BD7E0F4FB9</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.600 0.400 0.200 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ئ</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.D6BACE31-9B63-48FE-9292-32A6A0817718</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{50, 160}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ؤ</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.1731E2B7-F7D8-4D80-839A-7CB4CCCFF1F3</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.600 0.400 0.200 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ؤ</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.1A39FD51-4592-43EE-AE6C-4400427A9420</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{100, 160}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ن</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.E7B2106F-9CF8-44E3-8EE6-2E56E06E1500</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ن</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.07F1187C-B596-49F2-AE86-9217A397CA35</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{200, 155}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ف</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.2FAE3286-A8EE-4F94-A97E-E19BA09698F8</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ف</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.ED936512-F449-485D-A23E-2CFB4D5C1032</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{400, 155}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>غ</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.5372C925-EF6B-415F-9C0B-5CC9B2E85581</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>غ</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.01E73D8F-C354-4933-A328-8664EAD06E90</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{450, 155}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ظ</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.3B8CF2F3-8A9E-4CBD-A225-AE7C4966D00C</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ظ</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.277F057E-02C4-44FD-93CB-57E8034B71A7</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{500, 155}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ض</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.D324A9B7-480B-47A6-8125-BDCFCF0FABFE</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ض</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.109BCE91-E0C6-4F4E-A5C7-8A9B6E3B9613</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{550, 155}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ش</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.CAC3DB08-52F4-4FCA-95A4-224BE14C7E6A</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ش</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.06A6AC61-CDDF-41F9-AB20-32B62861EE2A</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{600, 155}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ز</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.2326FB1E-1578-4902-8153-4B182EB79DA5</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ز</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.6CB8B264-67FA-412A-91C9-1E71E8278C76</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{650, 155}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ذ</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.F1962D91-3520-49CC-B413-E5528B6DAF27</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ذ</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.12E29EFB-F44C-4248-93F8-CD73FEEED751</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{700, 155}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>خ</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.600A9099-5840-48B9-8F7A-66143D40BE74</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>خ </string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.A32F043F-DFDB-41EA-9784-519B1EAFC1C9</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{750, 155}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ى</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.2BC46517-72C9-4EEC-B688-24A8ABD4148B</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ى</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.27D783C2-9097-4298-B12C-15B8AD541DC3</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{50, 205}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>و</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.D861B14C-A5E3-44E9-80E5-EEB5321718E6</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>و</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.76DCD44B-8B1C-43BE-8937-8C54179AE348</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{100, 205}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ه</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.D175185C-5191-4C23-BB14-3D4287C2930B</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ه</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.EC99327F-68E2-4B5D-92C9-2D8B859C9EDE</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{150, 205}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>م</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.03E28CB2-7AE1-47FB-B5EB-D2D73F47B19E</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>م</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.0B57AF45-2D20-455D-B409-0B6817C7CFC4</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{250, 205}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ل</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.063684E5-B62D-414E-B312-CBBFD5855C1A</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ل</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.599B1FDD-CA22-4E7C-BCDC-C9F85B6B7ABA</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{300, 205}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ك</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.C083A5FE-D960-423D-A09E-14E33D7E344A</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ك</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.59030B55-7F64-4DC3-BC6F-C786D393A80A</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{350, 205}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ع</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.19E9A949-AC48-4529-B9EA-E44F9698892A</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ع</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.C33F5A8F-FB57-41F4-84AE-B01F21DE858C</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{450, 205}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ط</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.C87C5E1D-E20F-44D1-90F3-3EC6AE8BF6E3</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ط</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.C17AA056-1B75-463C-870A-8D0CCD5FAD30</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{500, 205}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ص</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.2FB2914C-A969-498C-8C24-C2148AA60412</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ص</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.75EADB40-C1BA-42DE-941D-F0A242A5746B</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{550, 205}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>س</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.309D702A-923F-4722-A46F-F1EC82034483</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>س</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.64D3BD89-9F1C-469A-BC9D-C74E157BEFAE</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{600, 205}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ر</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.3B15152F-5B0C-4E90-9CE4-B17762323BC3</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ر</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.9040D9B3-AFD1-44E6-810B-23DDCC1C6029</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{650, 205}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>د</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.20F9DDC0-7311-4367-9854-B57367D68701</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>د</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.1C240C16-CE4D-4E2C-8072-367BA2EB5EF9</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{700, 205}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ح</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.925FD06A-6839-4F6C-8AFD-D97A997E2DE0</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ح </string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.A28272FE-2B06-4B80-88D9-9FEFD7286DAE</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{750, 205}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ا</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.270863FF-3A8E-4C8E-92FF-BC3B101B05D5</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ا </string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.103E3BEA-42D5-48FE-8EA6-F1013086F444</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{850, 205}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ي</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.232DB987-6A63-4F17-8FC3-09AFD9C9F2C6</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ي</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.C403A3C9-C540-44E0-8210-D7BCFD6BA356</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{50, 305}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string> </string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.6E31B7DB-4B95-49F2-87F7-A7B08C2DD21E</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string> </string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.09447ABB-5D5F-4A14-A60B-3EC15E46112D</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{295, 305}, {200, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>Events</key>
								<array>
									<dict>
										<key>ActionParam</key>
										<dict>
											<key>KeyboardHWID</key>
											<integer>43</integer>
											<key>USBKeyCode</key>
											<integer>40</integer>
											<key>UsesMacKeyCode</key>
											<false/>
											<key>shouldNotLockModifier</key>
											<false/>
										</dict>
										<key>ActionRecordedOffset</key>
										<real>0.0</real>
										<key>ActionType</key>
										<string>ActionPressKeyCode</string>
										<key>ID</key>
										<string>Action.861E2D52-E205-4186-88AE-D8F834D6C706</string>
									</dict>
								</array>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPerformKeyMacro</string>
							<key>ID</key>
							<string>Action.C727FE84-D5F3-40CA-8B1E-A91620817CDD</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.6ADB5A87-CE86-482C-A0FB-82D1013215FB</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{495, 305}, {70, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ج</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.B75BF336-11C8-4335-A3D8-D3D97AC481AD</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ج </string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.E640D6FB-2D37-4213-B498-68FAA6729C7C</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{750, 315}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>ب</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.27F657B4-65BC-4A6D-9125-3F554D166F8B</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>ب</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.C928E9EE-BE98-48E6-A61E-4088615EFC0C</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{800, 315}, {50, 50}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>إ</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.94FE5115-D6FA-4DB3-AF20-4391356A0F0C</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.600 0.400 0.200 1.000</string>
					<key>DisplayImageResourceIsTemplate</key>
					<false/>
					<key>DisplayText</key>
					<string>إ </string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>18</real>
					<key>ID</key>
					<string>Button.F58BE313-390F-415A-B2BB-F43AEAD6F295</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{850, 315}, {50, 50}}</string>
				</dict>
			</array>
			<key>ProductSupportType</key>
			<string>All</string>
			<key>Rect</key>
			<string>{{0, 0}, {925, 375}}</string>
			<key>ScanStyle</key>
			<integer>0</integer>
			<key>ShowPanelLocationString</key>
			<string>CustomPanelList</string>
			<key>UsesPinnedResizing</key>
			<false/>
		</dict>
		<key>USER.529FE0DB-8390-43C0-9127-50EDEAA254D8</key>
		<dict>
			<key>DisplayOrder</key>
			<integer>2</integer>
			<key>GlidingLensSize</key>
			<integer>5</integer>
			<key>HasTransientPosition</key>
			<false/>
			<key>HideHome</key>
			<false/>
			<key>HideMinimize</key>
			<false/>
			<key>HidePanelAdjustments</key>
			<false/>
			<key>HideSwitchDock</key>
			<false/>
			<key>HideSwitchDockContextualButtons</key>
			<false/>
			<key>HideTitlebar</key>
			<false/>
			<key>ID</key>
			<string>USER.529FE0DB-8390-43C0-9127-50EDEAA254D8</string>
			<key>Name</key>
			<string>New Panel</string>
			<key>ProductSupportType</key>
			<string>All</string>
			<key>ScanStyle</key>
			<integer>0</integer>
			<key>ShowPanelLocationString</key>
			<string>CustomPanelList</string>
			<key>UsesPinnedResizing</key>
			<false/>
		</dict>
	</dict>
	<key>ToolbarOrdering</key>
	<dict>
		<key>ToolbarIdentifiersAfterBasePanel</key>
		<array/>
		<key>ToolbarIdentifiersPriorToBasePanel</key>
		<array>
			<string>ACSH.systemPanel.dynamic.bestSuggestions</string>
			<string>ACSH.systemPanel.dynamic.bestFunctionKeys</string>
		</array>
	</dict>
</dict>
</plist>
